.cart {
  padding: 20px;
  background-color: white;
  height: max-content;
  align-items: center;
  justify-content: center;
}

.cart__ad {
  width: 100%;
  margin-bottom: 10px;
}

.cart__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.cart__left {
  width: 100%;
}
.cart__right {
  width: 100%;
}
